@import "tailwindcss";

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

@media (max-width: 375px) {
  .se-hide {
    display: none !important;
  }
}

/* ======== SCROLL YASHIRISH (Kerakli joyda class bilan) ======== */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE va eski Edge */
  scrollbar-width: none; /* Firefox */
}

/* ======== CHIROYLI SCROLLBAR (Umumiy — agar yashirish class ishlatilmasa) ======== */

/* WebKit — Chrome, Safari, Edge uchun */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f3ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1fb3f5, #6651ff);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #32c4ff, #7b6fff);
}

/* dots’ni pastga tushirish */
.ant-carousel .slick-dots {
  position: static !important; /* orqa fon emas, pastda chiqadi */
  margin-top: 40px; /* rasm bilan orasi ochiladi */
}

/* dots’ni chiroyli qilish (ixtiyoriy) */
.ant-carousel .slick-dots li button {
  background: #ccc;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #000;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}

img:focus,
img:active,
button:focus,
button:active,
a:focus,
a:active,
.slick-slide:focus,
.slick-slide div:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.swiper-pagination {
  position: relative !important; /* 👈 endi absolute emas */
  margin-top: 20px; /* 👈 rasm bilan orasida joy */
}
